ShaderProgram: [
    {
        Name : "Basic Shader"
        Fragment: "Basic Fragment" 
        Vertex:  "Basic Vertex"

    }
],
Shaders: [
    {
        Type : Fragment
        Name : "Basic Fragment" 
        Source "./shaderSrc/basic.frag" 
    },
    {
        Type : Vertex
        Name : "Basic Vertex" 
        Source "./shaderSrc/basic.vert" 
    },
]